:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Nairobi", serif;
    --body-font: arial, Helvetica, sans-serif;
}

head {
    background-color: var(--primary-color);
    lp color: var(--accent2-color);
}

* {
    margin: px;
    padding: px;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    width: 20px;
    margin: center;
}

main {
    width: 0px;
    margin: 0 auto;
}

footer {
    width: 0px;
    margin: 0 auto;
}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    margin-top: 20px;
    margin-bottom: 15;
}

h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 0px;
    padding: 0px;
}

.socialmedia a {
    text-decoration: #264653;
}