:root {
    --primary-color: #1b0d79;
    --secondary-color: #f4a261;
    --accent1-color: #023be6;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Nairobi", serif;
    --body-font: arial, Helvetica, sans-serif;
}

head {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    width: 840px;
    margin: center;
}

main {
    width: 840px;
    margin: auto;
}

footer {
    width: 840px;
    margin: 0 auto;
}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    margin-top: 20px;
    margin-bottom: 15px;
}

h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 10px 20px;
    display: block;
    border-radius: 10px;
}

p {
    background-color: var(--accent2-color);
    display: block;
    border-radius: 10px;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 30px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 20x;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.hero article img {
    float: right;
    width: 250px;
    border-radius: 10px;
}

.gallery {
    display: flex;
    gap: 30px;
}