:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Nairobi", serif;
    --body-font: arial, Helvetica, sans-serif;
}

head {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

* {
    margin: 40px;
    padding: 40px;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    width: 48px;
    margin: 0 auto;
}

main {
    width: 48px;
    margin: 0 auto;
}

footer {
    width: 48px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: #264653;
}